.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 90vh;
  background: linear-gradient(90deg, #2C0727 0%, #110823 100%);
  padding: 3vh 49px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.highlighted-heading {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  color: white;
  margin-top: 10px;
}

.white-text {
  color: white;
}

.highlighted-text {
  color: #FE00E6;
  font-weight: 700;
}

.hero-description {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #FFFFFF;
  margin-top: 6vh;
}

.hero-button {
  width: 320px;
  height: 46px;
  padding: 6px;
  background: linear-gradient(90deg, #EF01DC 0%, #77048E 100%);
  border-radius: 500px;
  border: none;
  text-align: center;
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-top: 14vh;
  margin-left: 17vh;
}

.heroimg {
  height: 500px;
  width: 456px;
  margin-top: -70vh;
  margin-left: 55vw;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  color: white;
  position: relative;
  top: -60px;;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down p {
  margin: 0;
  font-size: 1em;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid white;
  margin: 10px auto;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}
