.startup-insights {
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #eaeaea;
  /* Prevents items from wrapping */
}

.startup-container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  flex-shrink: 0;
  /* Prevents the cards from shrinking */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.startup-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.img {
  height: 160px;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: transform 0.3s ease;
}

.startup-container:hover .img img {
  transform: scale(1.1);
}

.top-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.organization-details {
  display: flex;
  align-items: center;
  padding: 1.1rem 1.4rem;
  justify-content: space-between;
}

.organization {
  font-weight: 600;
  font-size: 18px;
  color: #77048E;
}

.organization-img {
  width: 30px;
  height: 30px;
  background: url('../../assets/organization.svg') no-repeat center;
  margin-right: 10px;
}

.startup-heading {
  font-weight: 700;
  font-size: 22px;
  color: #333;
  margin-bottom: 0.75rem;
  padding: 0rem 1.4rem;
}

.summary-box {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-align: center;
}

.summary {
  font-weight: 600;
  font-size: 1.4rem;
  color: #666;
}

.description-container {
  padding: 1.5rem;
  background: #fafafa;
  border-top: 1px solid #eee;
  white-space: wrap;
}

.about {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0.75rem;
  color: #333;
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

.link {
  display: inline-block;
  background-color: #77048E;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.link:hover {
  background-color: #5a0269;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .startup-insights {
    flex-direction: column;
    align-items: center;
  }

  .startup-container {
    width: 100%;
    max-width: 350px;
  }
}