/* Footer Container */
.footer {
    width: 100%;
    background-color: #252525;
    /* Adjust background to match your desired color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    /* Adjust padding as necessary */
    flex-wrap: wrap;
    box-sizing: border-box;

}

/* Left Section - Logo and Copyright */
.footerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerLogo {
    width: 66px;
    height: 40px;
    background: url('../../assets/footer-logo.png') no-repeat center center;
    background-size: contain;
}

.footerCopyright {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 0.5;
}

/* Center Section - Policy Links */
.footerPolicy {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    gap: 10px;
}

/* Right Section - Links and Icons */
.footerRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footerLinks {
    display: flex;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
}

.footerIcons {
    display: flex;
    gap: 15px;
}

.footerIcons img {
    width: 28px;
    height: 28px;
}

@media (max-width: 768px) {
    .footer {
        padding: 20px 10px;
    }

    .footerPolicy {
        font-size: 12px;
        text-align: start;
        align-items: normal;
    }

    .footerRight {
        width: 100%;
        padding: 33px 0px;
    }
}