.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 90vh;
  background: linear-gradient(90deg, #2c0727 0%, #110823 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3vh 49px;
  box-sizing: border-box;
  position: relative;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 10px;
}

.text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
  order: 2;
  align-items: flex-start;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

.hero-image {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

/* Heading Styles */
.highlighted-heading {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  color: white;
  margin-bottom: 1rem;
}

.white-text {
  color: white;
}

.highlighted-text {
  color: #ffcc00;
  font-weight: 900;
  display: inline-block;
  margin: 0 5px;
}

/* Description */
.hero-description {
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  color: #ffffff;
  max-width: 600px;
  margin-top: 0.5rem;
}

/* Button */
.hero-button {
  width: 240px;
  height: 40px;
  background: linear-gradient(90deg, #ef01dc 0%, #77048e 100%);
  border-radius: 50px;
  border: none;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-top: -10px;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hero-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Scroll Down Section */
.scroll-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.scroll-down p {
  font-size: 1rem;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid white;
  margin-top: 5px;
  animation: bounce 2s infinite;
}

/* Arrow Bounce Animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .hero-section {
    height: auto;
    padding-bottom: 80px;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-section {
    order: 2;
    align-items: center;
    text-align: center;
  }

  .image-section {
    order: 1;
    margin-bottom: 20px;
  }

  .hero-button {
    width: 80%;
    max-width: 300px;
    margin-top: 1rem;
    align-self: center;
  }

  .highlighted-heading {
    font-size: 3rem;
  }

  .highlighted-text {
    font-size: 3.2rem;
  }

  .hero-description {
    font-size: 1.2rem;
  }

  .scroll-down {
    bottom: 10px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: auto;
    padding-bottom: 80px;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
    text-align: center;
  }

  .image-section {
    order: 1;
    max-width: 90%;
    margin-bottom: 20px;
  }

  .hero-button {
    width: 80%;
    max-width: 200px;
    margin-top: 1rem;
    align-self: center;
  }

  .highlighted-heading {
    font-size: 2.4rem;
  }

  .highlighted-text {
    font-size: 2.6rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .scroll-down {
    bottom: 10px;
  }
}
