.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  background: linear-gradient(90deg, #2c0727 0%, #110823 100%);
  padding: 3vh 6vw;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding-top: 10vh;
}

.highlighted-heading {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  color: white;
  margin-top: 12vw;
}

.white-text {
  color: white;
}

.highlighted-text {
  color: #fe00e6;
  font-weight: 700;
}

.hero-description {
  font-family: "Readex Pro";
  font-style: normal;
  font-size: 30px;
  color: #ffffff;
  margin-top: -2vw;
}

.hero-button {
  width: 320px;
  height: 46px;
  padding: 6px;
  background: linear-gradient(90deg, #ef01dc 0%, #77048e 100%);
  border-radius: 500px;
  border: none;
  text-align: center;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.heroimg {
  height: 500px;
  width: 456px;
  margin-top: -70vh;
  margin-left: 55vw;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  color: white;
  position: relative;
  font-size: 18px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down p {
  margin: 0;
  font-size: 1em;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid white;
  margin: 10px auto;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }

}


@media only screen and (max-width: 600px) {
  .highlighted-heading {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1.5rem;
  }

  .hero-button {
    width: 230px;
    height: 41px;
    font-size: 1rem;
  }

  .scroll-down {
    margin-top: 5rem;
  }

  .hero-section {
    height: auto;
  }

}