
.startup-insights {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;  /* Enable horizontal scrolling */
  overflow-y: hidden;  /* Hide vertical overflow */
  padding: 1rem; /* Optional: add padding if needed */
}

.startup-container {
  display: flex;
  flex-direction: column;
  background: #77048E;
  border-radius: 20px;
  width: 380px;
  min-width: 380px; /* Ensure each container has the same width */
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.top-box {
  display: flex;
  align-items: center;
  background: #D9D9D9;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  position: relative;
}

.img {
  width: 80px;
  height: 80px;
  background: #77048E;
  border-radius: 10px;
  margin-right: 20px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image fills the container, cropping if necessary */
  border-radius: inherit; /* Apply the border radius to the image */
}


.organization-details {
  display: flex;
  align-items: center;
  flex: 1;
}

.organization-img {
  width: 20px;
  height: 20px;
  background: url('../../assets/organization.svg') no-repeat center;
  margin-right: 8px;
}

.organization {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 12px;
  color: #373737;
}

.startup-heading {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin-left: auto;
}

.summary-box {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 6px 12px;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.summary {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.description-container {
  background: #FFFFFF;
  border-radius: 0 0 20px 20px;
  padding: 20px;
  
}

.about {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.paragraph {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #9795B5;
  margin-top: 10px;
}

.link {
  background: #77048E;
  color: #FFFFFF;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  border-radius: 12px;
  padding: 8px 16px;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
}
