* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(78, 12, 72);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0;
  padding:0 20px 0px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
 
}

.logo span {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.searchDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-left:  5px;
  padding-right: 5px;
  border-radius: 30px;
  padding: 10px;
}

.searchInput {
  border-radius:50px;
  border: none;
  width: 200px;
  background: transparent;
  outline: none;
  font-size: large;
}

.searchButton {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.searchButton img{
  width: 25px;
    height:25px;
  
}
.searchIcon {
  width: 25px;
    height:25px;
  color: black;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-left: 20px;
  
}

nav li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  padding: 5px 10px 5px 10px ;
}
nav li a:hover{
  background-color: rgb(122, 7, 112);
  transition: 0.2s;
}

.authButton button {
  padding: 8px 15px;
  color: white;
  background-color: rgb(78, 12, 72);
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
}
.authButton button:hover {
  transition: 0.2s;
  padding: 8px 15px;
  color: rgb(78, 12, 72);
  background-color: white;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}