.news {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  align-items: flex-start;
}

.container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.time {
  text-wrap: balance;
}

.container {
  width: 306.6px;
  height: 364px;
  background: #f5f5f5;
  box-shadow: 0px 2px 14px rgba(42, 42, 42, 0.24);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  flex-shrink: 0;
}

.image {
  width: 100%;
  /* Ensure full width */
  height: 30%;
  background: #d9d9d9;
  border-radius: 3px 3px 0 0;
  object-fit: cover;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures image fills the container, cropping if necessary */
  border-radius: inherit;
  /* Apply the border radius to the image */
}

.content {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.heading:hover {
  color: #007bff;
}

.description {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.6;
  color: #555;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #777;
  opacity: 0.9;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: auto;
  background-color: #ddd;
  margin-bottom: 10px;
}