.newsletter-background {
    background: linear-gradient(135deg, #2e1d44, #3c2856);
    padding: 60px 0;
    display: flex;
    justify-content: center;
  }
.newsletter-container {
    max-width: 600px;
    margin: 200px auto;
    padding: 80px;
    text-align: center;
    background-color: #edf1f1;
    border-radius: 10px;
    box-shadow: 7px 0px 15px #f3f3f4, -7px 0px 15px #4ad1e3;
  }
  
  .newsletter-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .newsletter-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .newsletter-input {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .newsletter-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .newsletter-button:hover {
    background-color: #0056b3;
  }
  
  .newsletter-message {
    margin-top: 20px;
    font-size: 14px;
    color: green;
  }
  