/* Section Heading All */
.section-heading {
  width: 100%;
  height: fit-content;
  background: rgba(231, 231, 231, 0.85);
  backdrop-filter: blur(14px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-sizing: border-box;
  margin: auto;
}

/* Heading */
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #2a2a2a;
  margin: 0;
}

.line_ {
  width: 100px;
  height: 1px;
  background: #c31815;
  opacity: 0.9;
  border-radius: 1px;
  margin-top: 5px;
  /* Adjust margin for spacing */
}

@media only screen and (max-width: 600px) {
  .section-heading {
    padding: 15px 5px;
  }

  .heading h1 {
    font-size: 1rem;
  }
}